@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model prjWeb.Controllers.Student
@{
    ViewBag.Title = "Đăng ký chuyên ngành";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Đăng ký chuyên ngành</h2>

@using (Html.BeginForm())
{
    <div>
        <label>MSSV:</label>
        @Html.TextBoxFor(m => m.MSSV, new { @class = "form-control" })
    </div>
    <div>
        <label>Họ Tên:</label>
        @Html.TextBoxFor(m => m.HoTen, new { @class = "form-control" })
    </div>
    <div>
        <label>Điểm TB:</label>
        @Html.TextBoxFor(m => m.DiemTB, new { @class = "form-control", type = "number", step = "0.01" })
    </div>
    <div>
        <label>Chuyên ngành:</label>
        @Html.DropDownListFor(m => m.ChuyenNganh, new SelectList(new[] { "CNPM", "HTTT", "ANM", "TTNT", "MMT" }), "Chọn chuyên ngành", new { @class = "form-control" })
    </div>
    <div>
        <br />
        <input type="submit" value="Đăng ký" class="btn btn-primary" />
    </div>
}
